<div class="page-header">
  <h3>
    <%= render 'shared/favorite', :item => @license %>
    <%= @license.title %>
    <% if @license.groups.present? %><small><%= @license.groups.map(&:name).join(', ') %></small><% end %>

    <%= link_to 'Delete', license_path, :class => 'btn btn-small btn-danger pull-right', :confirm => 'Are you sure you want to delete this license?', :method => :delete %>
    <%= link_to 'Edit', edit_license_path, :class=> 'btn btn-small pull-right' %>
  </h3>
</div>

<div class="span8">
  <%= form_for @license do |f| %>

    <div class="input-append">
      <%= f.label :license_key %>
      <%= f.text_field :license_key, :class => 'span7' %>
      <span class="add-on"><span class="clippy" data-text="<%= @license.license_key %>"></span></span>
    </div>

    <div class="input-append">
      <%= f.label :licensed_to %>
      <%= f.text_field :licensed_to, :class => 'span7' %>
      <span class="add-on"><span class="clippy" data-text="<%= @license.licensed_to %>"></span></span>
    </div>

    <div class="">
      <%= link_to "Download License File", @license.license_file_url %>
    </div>

    <%= f.label :comments %>
    <%= f.text_area :comments, :class => 'span8', :rows => 6 %>

  <% end %>
</div>
