<div class="page-header offset">
  <h2>Login</h2>
</div>

<%= form_tag sessions_path, :class => 'span3 offset4' do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <hr />
  <button type="submit" class="btn pull-right">Login</button>
<% end %>