<%= render 'shared/errors', :target => @note %>

<div class="span8">
<%= form_for @note do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, :class => 'span7' %>

  <%= f.label :tag_list, 'Tags' %>
  <%= f.text_field :tag_list, :class => 'span7' %>

  <%= f.label :body %>
  <%= f.text_area :body, :class => 'span8', :rows => 10 %>

  <hr />
  <button type="submit" class="btn"><%= @note.new_record? ? 'Create' : 'Update' %> Note</button>
<% end %>
</div>

<div class="span3 offset1">
<% if Note.tags.empty? %>
  <p class="muted">No groups yet..</p>
<% else %>
  <p class="muted">Groups:</p>
  <ul class="unstyled">
    <% Note.tags.each do |tag| %>
      <li class="muted"><%= "#{tag}" %></li>
    <% end %>
  </ul>
<% end %>
</div>
