<div class="page-header">
  <h2>Create a New Note</h2>
</div>

<%= form_for @note do |f| %>
  
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :body %>
  <%= f.text_area :body, :class => "span6", :rows => 10 %> 

  <hr><button type="submit" class="btn">Create Note</button></hr>
<% end %>
