<%= render 'shared/errors', :target => @account %>

<div class="span8">
  <%= form_for [ :accounts, @account ], :html => {:multipart => true} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'span7' %>

    <%= f.label :username %>
    <%= f.text_field :username, :class => 'span7' %>

    <%= f.label :password %>
    <%= f.text_field :password, :class => 'span7' %>

    <%= f.label :license_file %>
    <%= f.file_field :license_file %>

    <%= f.label :comments %>
    <%= f.text_area :comments, :class => 'span8', :rows => 6 %>

    <fieldset>
      <legend>Groups</legend>
      <br />
      <%= hidden_field_tag "generic_account[group_ids][]", nil%>
      <% @allowed_groups.each do |group| %>
        <label class="checkbox inline">
          <%= check_box_tag 'generic_account[group_ids][]', group.id, @account.groups.include?(group) %>
          <%= group.name %>
        </label>
      <% end %>
    </fieldset>

    <hr />
    <button type="submit" class="btn"><%= @account.new_record? ? 'Create' : 'Update' %> Account</button>

  <% end %>
</div>
