<div class='page-header'>
  <h2>
    <%= @account.title %>
    <% if @account.tags.present? %><small><%= @account.tags.join(' ') %></small><% end %>
    <%= link_to 'Edit', edit_accounts_generic_account_path, :class=> 'btn btn-small pull-right' %>
  </h2>
</div>

<dl>
  <dt>Title</dt>
  <dd><%= @account.title %></dd>
  <p></p>
  <dt>Username</dt>
  <dd><%= @account.username %></dd>
  <p></p>
  <dt>Password</dt>
  <dd><%= @account.password %></dd>
  <p></p>
  <dt>Created</dt>
  <dd><%= fmt_datetime(@account.created_at) %></dd>
  <p></p>
  <dt>Updated</dt>
  <dd><%= fmt_datetime(@account.updated_at) %></dd>
  <p></p>
  <dt>Comments</dt>
  <dd><%= @account.comments %></dd>
</dl>