<div class="page-header">
  <h3>
    <% if @tag %>
      Licenses tagged with &ldquo;<%= @tag %>&rdquo;
    <% else %>
      Licenses
    <% end %>
    <%= link_to 'New License', new_software_license_path, :class => 'btn btn-small pull-right' %>
  </h3>
</div>

<div class="row">
  <div class="span2">
    <ul class="well nav nav-list">
      <li class="nav-header">Groups</li>
      <% allowed_tags_for(:software_licenses).each do |tag| %>
        <li <%= active_class_if(tagged_software_licenses_path(:tag => tag)) %> ><%= link_to_with_selected "#{tag}", tagged_software_licenses_path(:tag => tag) %></li>
      <% end %>
    </ul>
  </div
</div>

<div class="span10 licenses">
  <table class='table table-striped table-bordered table-condensed'>
    <thead>
      <tr>
        <th class='title'>Title</th>
        <th>Last Modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @licenses.each do |license| %>
      <tr>
        <td><%= license.title %></td>
        <td><%= fmt_datetime(license.updated_at) %></td>
        <td><%= link_to 'View', software_license_path(license) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
