<div class='page-header'>
<% if @license.tags.present? %>
  <h2><%= @license.title %> <small><%= @license.tags.join(' ') %></small></h2>
<% else %>
  <h2><%= @license.title %></h2>
<% end %>
</div>

<dl>
  <dt>Title</dt>
  <dd><%= @license.title %></dd>
  <p></p>
  <dt>Key</dt>
  <dd><%= @license.license_key %></dd>
  <p></p>
  <dt>Licensed to</dt>
  <dd><%= @license.licensed_to %></dd>
  <p></p>
  <dt>Created</dt>
  <dd><%= fmt_datetime(@license.created_at) %></dd>
  <p></p>
  <dt>Updated</dt>
  <dd><%= fmt_datetime(@license.updated_at) %></dd>
  <p></p>
  <dt>Comments</dt>
  <dd><%= @license.comments %></dd>
</dl>

<hr><button type="submit" class="btn">Edit</button></hr>
