<%= form_for [ :admin, @user ] do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :allowed_tags_list, 'Group(s)' %>
  <%= f.text_field :allowed_tags_list %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <hr><button type="submit" class="btn"><%= @user.new_record? ? 'Create' : 'Update' %> User</button></hr>
<% end %>