<%= form_for [ :admin, @user ] do |f| %>
  <%= render 'form_fields', f: f%>
  <fieldset>
    <legend>Groups <small>&mdash; <%= link_to 'new group', new_admin_group_path %></small></legend>
    <%= hidden_field_tag "user[group_ids][]", nil%>
    <% @groups.each do |group| %>
      <label class="checkbox inline">
        <%= check_box_tag 'user[group_ids][]', group.id, @user.groups.include?(group) %>
        <%= group.name %>
      </label>
    <% end %>
  </fieldset>

  <hr />

  <button type="submit" class="btn"><%= @user.new_record? ? 'Create' : 'Update' %> User</button>
<% end %>