<div class="page-header">
  <h3>
    Users
    <%= link_to 'New User', new_admin_user_path, :class => 'btn btn-small pull-right'  %>
  </h3>
</div>

<div class='users'>
  <table class='table table-striped table-bordered table-condensed'>
    <thead>
      <tr>
        <th>Username</th>
        <th>Admin</th>
        <th>Groups</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, edit_admin_user_path(user) %></td>
        <td><%= user.admin? %></td>
        <td><%= user.groups.map(&:name).join(', ') %></td>
        <td><%= fmt_datetime(user.updated_at) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
