<!DOCTYPE html>
<html>
<head>
  <title>Roswell</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="user-session">
      <% if current_user %>
        logged in as <%= current_user.username %> &mdash;
        <% if current_user.admin? %>
          <span class='admin'>
            <%= link_to 'users', admin_users_path %> |
            <%= link_to 'groups', admin_groups_path %> |
          </span>
        <% end %>
        <%= link_to 'log out', logout_path %>
      <% end %>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Roswell</a>
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="dropdown<%= request.path =~ /\A\/accounts\// ? ' active' : '' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Accounts
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Generic', accounts_generic_accounts_path %></li>
              <li><%= link_to 'Web', accounts_web_accounts_path %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li <%= active_class_if(software_licenses_path) %> ><%= link_to 'Licenses', software_licenses_path %></li>
          <li <%= active_class_if(notes_path) %> ><%= link_to 'Notes', notes_path %></li>
        </ul>
        <form class="navbar-search pull-right" action="<%= search_path %>">
          <input type="text" name="query" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
