<!DOCTYPE html>
<html>
<head>
  <title>Roswell</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Roswell</a>
        <ul class="nav">
          <li><a href="generic.html">Generic</a></li>
          <li><a href="web.html">Web</a></li>
          <li <%= active_class_if(notes_path) %> ><%= link_to_with_selected 'Stats', notes_path %></li>
          <li <%= active_class_if(software_licenses_path) %> ><%= link_to_with_selected 'Licenses', software_licenses_path %></li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
</body>
</html>
