<div class="page-header">
  <h3><%= link_to_with_selected 'Add a new Generic Password', new_accounts_generic_path  %></h3>
</div>

<div class="row">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
      <% GenericAccount.tags.each do |tag| %>
        <li <%= active_class_if(accounts_tagged_generic_path(:tag => tag)) %> ><%= link_to "#{tag}", accounts_tagged_generic_path(:tag => tag) %></li>
      <% end %>
    </ul>
  </div
</div>

<div class="span10">
<div id='notes'>
  <table class='table table-striped table-bordered table-condensed'>
    <thead>
      <tr>
        <th class='title'>Title</th>
        <th class='actions'>Username</th>
        <th class='created_at'>Created</th>
        <th class='updated_at'>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.title %></td>
        <td><%= account.username %></td>
        <td><%= fmt_datetime(account.created_at) %></td>
        <td><%= fmt_datetime(account.updated_at) %></td>
        <td><%= link_to 'View', accounts_generic_path(account) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
